[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/vrf-contracts"]
	path = packages/contracts/lib/vrf-contracts
	url = https://github.com/gelatodigital/vrf-contracts
